.flex-pass-div{
	display: flex;
	flex-direction: column;
}

.flex-pass-div input{
	background: #242526;
	border-radius: 10px;
	padding: 10px;
	border:none;
	font-size: 20px;
	width: 500px;
	margin-bottom: 20px;
	color: white;
	outline: none;
}

.flex-pass-div a{
	background: #242526;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	width: 500px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	font-weight: 700;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	animation-name: unBoxShadow;
	animation-duration: .4s;
}

.flex-pass-div a:hover{
	animation-name: boxShadow;
	animation-duration: .4s;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}